<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="admin/include/css :: header('隧道编辑/添加')"/>
    <style>
        #aclIp:focus {
            border: 0;
            outline: none;
        }
    </style>
</head>
<body>
<th:block th:include="admin/include/top-bar :: top-bar('隧道编辑/添加')"/>
<iframe th:if="${form.id != null}" class="bg-white border mt-3" th:src="'/admin/data_log?type=1&targetId=' + ${form.id}"
        style="width: 100%;height: 360px;"></iframe>
<iframe th:if="${form.id != null}" class="bg-white border mt-3" th:src="'/admin/chart?channelId=' + ${form.id}"
        style="width: 100%;height: 200px;"></iframe>
<div class="m-3 p-2 bg-white rounded">
    <form>
        <input type="hidden" name="clientId" th:value="${form.clientId}">
        <input type="hidden" name="id" th:value="${form.id}">
        <div class="row row-cols-1 row-cols-sm-2">
            <div class="col mt-2">
                <div class="row">
                    <label class="col-4 col-form-label text-end">客户端</label>
                    <div class="col-8">
                        <input type="text" class="form-control" th:value="${form.clientName}" disabled>
                    </div>
                </div>
            </div>
            <div class="col mt-2">
                <div class="row">
                    <label class="col-4 col-form-label text-end">隧道名</label>
                    <div class="col-8">
                        <input type="text" class="form-control" name="name" autocomplete="off" th:value="${form.name}">
                    </div>
                </div>
            </div>
            <div class="col mt-2">
                <div class="row">
                    <label class="col-4 col-form-label text-end">隧道模式</label>
                    <div class="col-sm-4 pt-2">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="type" id="typeTcp"
                                   value="1" th:checked="${form.type == 1}">
                            <label class="form-check-label" for="typeTcp">TCP</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="type" id="typeUdp"
                                   value="2" th:checked="${form.type == 2}">
                            <label class="form-check-label" for="typeUdp">UDP</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col mt-2">
                <div class="row">
                    <label class="col-4 col-form-label text-end">加密传输</label>
                    <div class="col-sm-4 pt-2">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="securityState" id="securityState0"
                                   value="0" th:checked="${form.securityState == 0}">
                            <label class="form-check-label" for="securityState0">否</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="securityState" id="securityState1"
                                   value="1" th:checked="${form.securityState == 1}">
                            <label class="form-check-label" for="securityState1">是</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col mt-2">
                <div class="row">
                    <label class="col-4 col-form-label text-end">服务端口</label>
                    <div class="col-8">
                        <input type="text" class="form-control" name="serverPort" autocomplete="off"
                               th:value="${form.serverPort}">
                    </div>
                </div>
            </div>
            <div class="col mt-2">
                <div class="row">
                    <label class="col-4 col-form-label text-end">目标端口(ip:端口)</label>
                    <div class="col-8">
                        <input type="text" class="form-control" name="targetPort" autocomplete="off"
                               th:value="${form.targetPort}">
                    </div>
                </div>
            </div>
            <th:block th:if="${form.id != null}">
                <div class="col mt-2">
                    <div class="row">
                        <label class="col-4 col-form-label text-end">入网流量</label>
                        <div class="col-8">
                            <input type="text" class="form-control" th:value="${form.inDataTotal}" disabled>
                        </div>
                    </div>
                </div>
                <div class="col mt-2">
                    <div class="row">
                        <label class="col-4 col-form-label text-end">出网流量</label>
                        <div class="col-8">
                            <input type="text" class="form-control" th:value="${form.outDataTotal}" disabled>
                        </div>
                    </div>
                </div>
                <div class="col mt-2">
                    <div class="row">
                        <label class="col-4 col-form-label text-end">启用状态</label>
                        <div class="col-8">
                            <input type="text" class="form-control" th:value="${form.enableState}" disabled>
                        </div>
                    </div>
                </div>
                <div class="col mt-2">
                    <div class="row">
                        <label class="col-4 col-form-label text-end">创建时间</label>
                        <div class="col-8">
                            <input type="text" class="form-control" th:value="${form.createDate}" disabled>
                        </div>
                    </div>
                </div>
            </th:block>
            <div class="col mt-2">
                <div class="row">
                    <label class="col-4 col-form-label text-end">备注</label>
                    <div class="col-8">
                        <textarea class="form-control" name="remark">[[${form.remark}]]</textarea>
                    </div>
                </div>
            </div>
            <div class="col mt-2">
                <div class="row">
                    <label class="col-4 col-form-label text-end">访问控制</label>
                    <div class="col-8 pt-2">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="aclState"
                                   value="0" th:checked="${form.aclState == 0}" id="aclState0">
                            <label class="form-check-label" for="aclState0">关闭</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="aclState"
                                   value="1" th:checked="${form.aclState == 1}" id="aclState1">
                            <label class="form-check-label" for="aclState1">白名单模式</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="aclState"
                                   value="2" th:checked="${form.aclState == 2}" id="aclState2">
                            <label class="form-check-label" for="aclState2">黑名单模式</label>
                        </div>
                    </div>
                </div>
                <div class="row" id="aclIpRow">
                    <div class="col-8 offset-4 small">
                        <section id="aclIpDiv">
                            <div class="d-inline-block">
                                <span class="border border-secondary rounded-start-pill px-1">{IP}<input name="aclIp" type="hidden" value="{IP}"></span><span
                                    class="border border-start-0 border-secondary rounded-end-pill px-1 cursor-pointer" style="cursor: pointer;" onclick="$(this).parent().remove();"><i
                                    class="bi bi-x"></i></span>
                            </div>
                        </section>
                        <div class="d-inline-block mt-2">
                            <span class="border border-secondary rounded-start-pill ps-2">
                                <input id="aclIp" style="border: none;border-radius: 0;height: 18px;" placeholder="本地：192.168.1.100" autocomplete="off">
                            </span><span
                                class="border border-start-0 border-secondary rounded-end-pill px-1"
                                onclick="onAddAclIPClick()" style="cursor: pointer;"><i class="bi bi-plus"></i></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="text-end mt-3">
                <button type="button" class="btn btn-primary" onclick="onSubmitClick()">提交</button>
            </div>
        </div>
    </form>
</div>
<input id="initAclIp" type="hidden" th:value="${aclIp}">
<th:block th:include="admin/include/js :: js"/>
<script th:inline="javascript">

    /**
     * 已经添加ip
     */
    const ipAcls = JSON.parse([[${aclIp}]])

    /**
     * IP地址列表部分的HTML
     */
    const aclIpHtml = $("#aclIpDiv").html()
    $("#aclIpDiv").empty()

    $(()=>{

        //将现有的ip加入到列表
        ipAcls.forEach(item => addIp(item))

        $("[name='aclState']").on("click",()=>{
            aclShowState()
        })
        aclShowState()
    })

    /**
     * 表单提交点击事件
     */
    function onSubmitClick() {
        $.ajax({
            url: "/admin/channel_list/channel_edit",
            type: "POST",
            data: $("form").serialize()
        }).fail($ajaxFail).done(() => {
            window.location = document.referrer
        })
    }

    /**
     * 添加IP地址点击事件
     */
    function onAddAclIPClick() {
        const ip = $("#aclIp").val()
        addIp(ip)
    }

    function aclShowState(){
        if($("[name='aclState']:checked").val() === "0"){
            $("#aclIpRow").hide()
        }else{
            $("#aclIpRow").show()
        }
    }

    function addIp(ip){
        $("#aclIpDiv").append(aclIpHtml.replace(/\{IP\}/g, ip))
    }
</script>
</body>
</html>
